# --- Core AI & Computer Vision ---
tensorflow==2.16.1
keras==3.3.3
mediapipe==0.10.11
opencv-python==4.9.0.80

# --- Interface & Multimedia ---
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
gTTS==2.5.1
pygame==2.5.2

# --- Data Processing & Stability ---
numpy==1.26.4
pandas==2.2.1
matplotlib==3.8.3
scikit-learn==1.4.1.post1

# --- Supporting Libraries ---
h5py==3.11.0
protobuf==3.20.3